$color-main: #165690;
$color-accent: #df8a13;
$color-line: #f7c684;
$color-dark: #232323;
$color-gray: darken(#ffffff, 13.5%);
$color-light: #ffffff;
$color-date: #898c93;
$color-underline: #dddddd;
$color-footer: #222222;
$color-info: #f1f1f1;